
.highlight {
  background-color: #eeeeee;   // f3f3f3 Default: efefef
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 0px 0 0px 0;
  overflow: auto;
}

.highlight .highlight {
  border: none;
  box-shadow: none;
}

.lineno {
  color: #ccc;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

.highlight .c { color: #586E75 } /* Comment */
.highlight .err { color: #93A1A1 } /* Error */
.highlight .g { color: #000000 } /* Generic */     // default: #93A1A1
.highlight .k { color: #F92672; font-weight: bold } /* Keyword */ // default: #859900
.highlight .l { color: #000000 } /* Literal */    // default: 93A1A1
.highlight .n { color: #000000 } /* Name */       // default: #93A1A1
.highlight .o { color: #F92672 } /* Operator */   // default: 859900 (gray)
.highlight .x { color: #CB4B16 } /* Other */
.highlight .p { color: #000000 } /* Punctuation */  // default: #93A1A1
.highlight .cm { color: #586E75 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #586E75 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2AA198 } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */ // default: #93A1A1
.highlight .gr { color: #DC322F } /* Generic.Error */
.highlight .gh { color: #CB4B16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #000000 } /* Generic.Output */  // default: #93A1A1
.highlight .gp { color: #000000 } /* Generic.Prompt */  // default: #93A1A1
.highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */  // default: #93A1A1
.highlight .gu { color: #CB4B16 } /* Generic.Subheading */
.highlight .gt { color: #93A1A1 } /* Generic.Traceback */
.highlight .kc { color: #CB4B16 } /* Keyword.Constant */
.highlight .kd { color: #268BD2 } /* Keyword.Declaration */
.highlight .kn { color: #F92672; font-weight: bold } /* Keyword.Namespace */       // default: 859900
.highlight .kp { color: #F92672 } /* Keyword.Pseudo */          // default: 859900
.highlight .kr { color: #268BD2 } /* Keyword.Reserved */
.highlight .kt { color: #DC322F } /* Keyword.Type */
.highlight .ld { color: #93A1A1 } /* Literal.Date */
.highlight .m { color: #7838AF } /* Literal.Number */           // default: #2AA198
.highlight .s { color: #008A9C } /* Literal.String */           // orange: f28d11, default: #2AA198
.highlight .na { color: #000000 } /* Name.Attribute */          // default: #93A1A1
.highlight .nb { color: #F28D11 } /* Name.Builtin */
.highlight .nc { color: #268BD2 } /* Name.Class */
.highlight .no { color: #CB4B16 } /* Name.Constant */
.highlight .nd { color: #268BD2 } /* Name.Decorator */
.highlight .ni { color: #CB4B16 } /* Name.Entity */
.highlight .ne { color: #CB4B16 } /* Name.Exception */
.highlight .nf { color: #268BD2 } /* Name.Function */
.highlight .nl { color: #F92672 } /* Name.Label */              // default: #93A1A1
.highlight .nn { color: #000000 } /* Name.Namespace */          // default: #93A1A1
.highlight .nx { color: #555 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */           // default: #93A1A1
.highlight .nt { color: #268BD2 } /* Name.Tag */
.highlight .nv { color: #268BD2 } /* Name.Variable */
.highlight .ow { color: #F92672; font-weight: bold } /* Operator.Word */
.highlight .w { color: #93A1A1 } /* Text.Whitespace */
.highlight .mf { color: #7838AF } /* Literal.Number.Float */     // default: 2AA198
.highlight .mh { color: #7838AF } /* Literal.Number.Hex */       // default: 2AA198
.highlight .mi { color: #7838AF } /* Literal.Number.Integer */   // default: 2AA198
.highlight .mo { color: #7838AF } /* Literal.Number.Oct */       // default: 2AA198
.highlight .sb { color: #586E75 } /* Literal.String.Backtick */
.highlight .sc { color: #FF8C00 } /* Literal.String.Char */
.highlight .sd { color: #93A1A1 } /* Literal.String.Doc */

// R's str color. #FF8C00 = nice orange. Default: 2AA198
.highlight .s2 { color: #008A9C } /* Literal.String.Double */
.highlight .se { color: #CB4B16 } /* Literal.String.Escape */
.highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlight .si { color: #FF8C00 } /* Literal.String.Interpol */  // default: 2AA198
.highlight .sx { color: #FF8C00 } /* Literal.String.Other */     // default: 2AA198
.highlight .sr { color: #DC322F } /* Literal.String.Regex */
.highlight .s1 { color: #FF8C00 } /* Literal.String.Single */    // default: 2AA198
.highlight .ss { color: #FF8C00 } /* Literal.String.Symbol */    // default: 2AA198
.highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268BD2 } /* Name.Variable.Class */
.highlight .vg { color: #268BD2 } /* Name.Variable.Global */
.highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
.highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */
