---
layout: default
---

<!-- Look the author details up from the site config. -->
{% assign author = site.data.authors[page.author] %}

<article class="post">
  <h1>{% if page.title-clean %}{{ page.title-clean }}{% else %}{{ page.title }}{% endif %}</h1>

  {% for tag in page.tags %}
    {% assign tag_slug = tag | slugify: "raw" %}
    <a class="tag-link"
      href={{ site.baseurl | append: "/tag/" | append: tag_slug | append: "/" }}
      rel="category tag">
      <span style='color:#dd3a77cc; font-size:18px'>#{{ tag }}</span>
    </a>
  {% endfor %}<br>

  <!-- Output author details if some exist. -->
  {% if author %}
      <span>
          <!-- Personal Info. -->
          Written by <a href="{{ author.web }}">{{ author.name }}</a> on {{page.date | date: '%B %-d, %Y'}} <br><br>
      </span>
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include hyvor.html %}
</article>

<!-- Mathjax Support -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
